@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page {
  min-height: 100vh;
  width: 100vw;
  background-image: url("./photos/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-feature-img {
  aspect-ratio: 9/16;
  object-fit: cover;
}

.product-div:hover .show-btn{
    display: flex;
}